* {
  background-color: black;
}

h1 {
  text-align: center;
  color: #fff;
}

.about-image {
  display: block;
  width: 60%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin: 2rem auto;
}

.about-box {
  background-color: #7d0101;
  color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 1rem;
  align-items: center;
}

.about-text {
  background-color: #7d0101;
}
