footer {
  background-color: #a70000;
  padding: 2rem;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 7rem;
  flex-wrap: wrap;
}

.footer-links a,
.footer-copyright {
  text-decoration: none;
  color: white;
}

.footer-links a:hover {
  color: black;
  cursor: pointer;
}
