/* @media screen and (min-width: 681px) {
  .mobile-header {
    display: none;
  }

  #logo {
    position: static;
    transform: none;
    text-align: center;
    margin: 1rem auto;
    font-size: 1.5rem;
  }

  #openbtnhamburger,
  .profile-icon {
    display: none;
  }
}  */
