.mobile-header,
.profile-icon {
  display: none;
  padding: 0 1rem;
  position: relative;
}

.mobile-header,
.profile-icon,
.hamburgermenu {
  display: none;
}

@media screen and (max-width: 680px) {
  nav {
    display: none;
  }

  .mobile-header,
  .profile-icon {
    display: flex;
  }

  .hamburgermenu {
    display: none;
  }

  #logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .hamburgermenu {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: #a70000;
    overflow-x: hidden;
    padding-top: 2rem;
    transition: 0.5s;
    display: none;
    padding-bottom: 2rem;
  }

  .hamburgermenu a {
    text-decoration: none;
    font-size: 12pt;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  .hamburgermenu a:hover,
  .profile-icon:hover,
  #menu :hover {
    color: black;
  }

  #menu,
  .profile-icon {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
  }
}

/* @media screen and (min-width: 681px) {
  .mobile-header {
    display: none;
  }

  #logo {
    position: static;
    transform: none;
    text-align: center;
    margin: 1rem auto;
    font-size: 1.5rem;
  }

  #openbtnhamburger,
  .profile-icon {
    display: none;
  }
}  */
