* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #a70000;
  border-bottom: 1px solid #ccc;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav,
ul,
li a,
#openCategoryMenu {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 9pt;
}

li a:hover,
#openCategoryMenu:hover {
  color: black;
}

li a {
  transition: all 0.3s ease;
}

nav img {
  width: 1.3rem;
  height: auto;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.collapsible-wrapper {
  position: relative;
}

.collapsible {
  background-color: #a70000;
  color: #ffffff;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  font-size: 1rem;
  text-align: left;
}

.content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #a70000;
  width: max-content;
  padding: 1rem;
  z-index: 1000;
}

.categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories-list li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

.categories-list li a:hover {
  background-color: #a70000;
}

.content a {
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
}

.content {
  display: none;
  background-color: #a70000;
}

.content.show {
  display: block;
}
